/*need the background image to be fixed in topmost center and then a black gradient(fade into black-top2down) scrolling over the image*/
@font-face { font-family: UNSTEADY; src: url('./fonts/UNSTEADY.TTF'); }
  body {
    padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
    background-image: url("./images/me32.png");
    background-color: beige;/*245 245 220*/
    background-position: right top;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  h1 {
    font-family: UNSTEADY;
    text-align: center;
    font-size: 70px;
 }
 h3 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
p {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
  #toppic {
    padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
    background-image: url("./images/beigeGrad.svg");
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
  }
  #red{
    color: red;
  }

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}